h2.letra {
    font-size: 5rem;
    text-align: center;
}
table {width:100%;}
input[type="text"]{
    width: auto;
}

td,th{
    width:50%;
    text-align: center;
}

td:first-child {
    font-weight: bold;
}